* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fafafa;
    width: 100%;
    height: 80px;
    padding: 1% 1% 1% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 334534534;
    box-shadow: 1px 1px 10px #00000036;
}

.userProfile {
    position: relative;
    display: inline-block;
    text-align: center;
}

.profileImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    overflow: hidden;
    z-index: 1000;
    width: 200px;
}

.dropdownMenu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in;
}

.dropdownMenu button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #D12874;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.dropdownMenu button:hover {
    color: #D12874;
}

.dropdownMenu button:hover::after {
    width: 100%;
}

.profileName {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.profileName::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Um pouco abaixo do texto */
    height: 2px;
    background-color: #D12874;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.profileName:hover {
    color: #D12874;
}

.profileName:hover::after {
    width: 100%;
}


.fixed{
    position: fixed;
    top: -5px;
}

header .Logo{
    width: 80%;
}

header nav{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

header nav ul{
    display: flex;
    align-items: center;
    color: #1c2b1a;
    width: 55%;
    justify-content: space-around;
    margin: 0;
}

header nav ul li{
    color: #1c2b1a;
    transition: 0.3s ease-out;
}

header nav ul li:hover{
    color: #D12874;
}

header nav button{
    width: 140px;
    padding: 5%;
    border: 2px solid transparent;
    background: linear-gradient(#fafafa, #fafafa) padding-box, linear-gradient(90deg, #D12874CC, #0ea53b) border-box;
    border-radius: 20px;
    cursor: pointer;
    color: #1c2b1a;
    transition: 0.3s ease-in;
}

/*MENU RESPONSIVO*/
.nav_menu{
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 65%;
    position: absolute;
    width: 35%;
    height: 110vh;
    background-color: #f7f7f7;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav_menu .lista_menu{
    width: 100%;
    height: 55%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label_menu{
    display: none;
}

.botao_menu{
    display: none;
}

.botao_close{
    font-size: 1.5rem;
    cursor: pointer;
}

.botao_open{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.botao_menu:checked ~ .nav_menu{
    visibility: visible;
}

@media screen and (max-width: 1100px) {
    .nav_principal{
        display: none;
    }

    .botao_open, .label_menu{
        display: block;
    }
}

@media screen and (min-width: 1100px){
    .nav_menu{
        display: none;
    }
}